/tests export-ignore
/vendor export-ignore
/.github export-ignore

/composer.lock export-ignore
/index.php export-ignore
/phpunit.xml export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
